---
// src/components/layout/Layout.astro
import Header from './Header.astro';
// import Footer from './Footer.astro'; // Lo añadiremos después

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content={description}>
    <meta name="generator" content={Astro.generator}>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title> {/* LAYCE Construcciones ya no es necesario aquí si se pone en cada página */}

    <!-- El estilo global de main con padding: 1rem se ha eliminado -->
</head>
<body class="bg-white text-neutralText">
    <Header />
    <main>
        <slot />
    </main>
    {/* <Footer /> */}
</body>
</html>